body {
  font-family: "Montserrat";
  text-align: center;
}
/* Navigatioan Bar */
.navbar-brand,
.navbar-nav {
  font-family: "Baloo Chettan", cursive;
  font-size: 3rem;
}
.navbar-nav {
  font-size: 1.5rem;
}
.nav-item {
  padding: 0 18px;
}
.container-fluid {
  background-color: #24dddd;
  padding: 5% 15%;
  color: white;
  font-size: 3rem;
}

.karslio {
  padding-top: 3%;
}
h1 {
  font-size: 6rem;
  font-family: "Just Me Again Down Here", cursive;
}

h2 {
  font-size: 3rem;
  font-family: "Baloo Chettan", cursive;
  color: #F16529;
  padding: 1%;
}
h3 {
  font-family: "Baloo Chettan", cursive;
  text-align: left;
  color: #29A9DF;
}
.row {
  padding: 1% 17%;
}
p {
  font-family: "Baloo Chettan", cursive;
  text-align: left;
  font-size: 1.3rem;
}

#about-text {
  padding-top: 1.5%;
  text-align: center;
}

.skills-text{
  padding-top: 2.5%;
}

hr{
  margin: 0 17%;
  border:none;
  border-bottom: 5px dotted;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border: 1px solid black;
}
.slide-img{
  height: 200px;
  width: 200px;
  margin-left: 20%
}

.row-footer{
  padding: 0 0;
  font-family: "Baloo Chettan", cursive;
  text-align: left;
  font-size: 1.3rem;

}

